<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arctos.mochabear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MochaBear">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitydemo.ActivityDemoActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".servicedemo.ServiceDemoActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activitydemo.NormalActivity"
            android:parentActivityName=".activitydemo.ActivityDemoActivity" />

        <activity
            android:name=".activitydemo.DialogActivity"
            android:parentActivityName=".activitydemo.ActivityDemoActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service
            android:name=".servicedemo.DemoService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>